* {
  color: #1d1d1f;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  text-decoration: none;
}
body {
  padding: 30px;
}
ul {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}
.key {
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.key span {
  margin-top: 10px;
  font-size: 13px;
  color: #787878;
}
.key:hover {
  box-shadow: 0 0 10px greenyellow;
  border-radius: 3px;
}
